.u-section-1 {
  background-image: url("images/pexels-photo-267350.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 720px;
}

.u-section-1 .u-group-1 {
  width: 411px;
  min-height: 350px;
  margin: 370px auto 0 15px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 15px -10px 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: -126px 0 60px 466px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-1 .u-text-1 {
    width: 369px;
    margin-left: 0;
    margin-right: 571px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 366px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 351px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 146px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 171px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 983px;
}

.u-section-2 .u-text-1 {
  margin: 39px auto 0;
}

.u-section-2 .u-group-1 {
  width: 359px;
  background-image: none;
  min-height: 359px;
  margin: 80px auto 0 23px;
}

.u-section-2 .u-container-layout-1 {
  padding: 2px 30px 30px;
}

.u-section-2 .u-shape-1 {
  width: 73px;
  height: 73px;
  margin: 39px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 35px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 23px 27px 0 22px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px auto 0;
  padding: 10px 55px 10px 54px;
}

.u-section-2 .u-group-2 {
  width: 359px;
  background-image: none;
  min-height: 359px;
  margin: -359px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 17px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  width: 217px;
  margin: 39px auto 0;
}

.u-section-2 .u-text-5 {
  width: 217px;
  margin: 23px auto 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px auto 0;
  padding: 10px 55px 10px 54px;
}

.u-section-2 .u-group-3 {
  width: 359px;
  background-image: none;
  min-height: 359px;
  margin: -359px 23px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  width: 193px;
  margin: 37px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 23px -1px 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 11px auto 0;
  padding: 10px 55px 10px 54px;
}

.u-section-2 .u-group-4 {
  width: 358px;
  background-image: none;
  min-height: 358px;
  margin: 14px auto 0 25px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 25px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.875rem;
  margin: 27px auto 0;
}

.u-section-2 .u-text-9 {
  margin: 23px 7px 0;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 13px auto 0;
  padding: 10px 55px 10px 54px;
}

.u-section-2 .u-group-5 {
  width: 359px;
  background-image: none;
  min-height: 361px;
  margin: -359px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 27px auto 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-2 .u-text-11 {
  margin: 23px 0 0;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 17px auto 0;
  padding: 10px 55px 10px 54px;
}

.u-section-2 .u-group-6 {
  width: 359px;
  background-image: none;
  min-height: 361px;
  margin: -361px 23px 60px auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 27px auto 0;
}

.u-section-2 .u-text-12 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-2 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 45px auto 0;
  padding: 10px 55px 10px 54px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: -404px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 826px;
    margin-right: 40px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -236px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 30px;
    margin-right: 232px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 1215px;
    margin-left: 71px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -6px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -1430px;
    margin-right: 52px;
    margin-left: 610px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -96px;
    margin-right: 8px;
  }

  .u-section-2 .u-group-4 {
    margin-top: -828px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 116px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 95px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 103px;
    margin-left: 269px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 1173px;
    margin-left: 72px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 251px;
    margin-left: 82px;
  }

  .u-section-2 .u-text-11 {
    margin-top: -1619px;
    margin-right: 40px;
    margin-left: 573px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 269px;
  }

  .u-section-2 .u-group-6 {
    margin-bottom: 0;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 1173px;
    margin-left: 72px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 251px;
    margin-left: 82px;
  }

  .u-section-2 .u-text-13 {
    margin-top: -1619px;
    margin-right: 40px;
    margin-left: 573px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 269px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 12px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 442px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 49px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 393px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 49px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
    margin-left: 393px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -191px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -39px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -176px;
    margin-left: 262px;
  }

  .u-section-2 .u-group-4 {
    margin-top: 189px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 108px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -159px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 93px;
  }

  .u-section-2 .u-text-11 {
    margin-top: -288px;
    margin-left: 213px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-2 .u-group-6 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -159px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 93px;
  }

  .u-section-2 .u-text-13 {
    margin-top: -288px;
    margin-left: 213px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
    min-height: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    min-height: 340px;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
    min-height: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -250px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 23px;
    margin-left: 62px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-group-4 {
    width: 340px;
    min-height: 359px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 102px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-5 {
    width: 340px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -235px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 88px;
  }

  .u-section-2 .u-text-11 {
    margin-top: -211px;
    margin-left: 13px;
  }

  .u-section-2 .u-group-6 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -235px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 88px;
  }

  .u-section-2 .u-text-13 {
    margin-top: -211px;
    margin-left: 13px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 830px;
}

.u-section-3 .u-text-1 {
  margin: 20px 1029px 0 0;
}

.u-section-3 .u-slider-1 {
  min-height: 412px;
  width: 1020px;
  margin: 20px auto 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-3 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("images/124339034_2098603683608404_6256339763222903983_o.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  width: 227px;
  margin: 35px auto 0;
}

.u-section-3 .u-text-4 {
  width: 136px;
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-3 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("images/IMG_6481.JPG");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  width: 227px;
  margin: 38px auto 0;
}

.u-section-3 .u-text-7 {
  width: 136px;
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 30px;
  height: 30px;
}

.u-section-3 .u-carousel-control-2 {
  width: 30px;
  height: 30px;
}

.u-section-3 .u-text-8 {
  margin: 17px 0 60px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 829px;
  }

  .u-section-3 .u-slider-1 {
    width: 940px;
    height: auto;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 609px;
  }

  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 429px;
  }

  .u-section-3 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 229px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 642px;
}

.u-section-4 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 30px auto 51px 0;
}