.u-section-1 {
  background-image: url("images/pexels-pixabay-373543.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 742px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 60px 201px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 166px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 127px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1088px;
}

.u-section-2 .u-text-1 {
  margin: 68px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-text-3 {
  margin: 60px 587px 0 39px;
}

.u-section-2 .u-shape-1 {
  width: 396px;
  height: 223px;
  background-image: none;
  margin: -217px 70px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 396px;
  height: 223px;
  margin: -207px 89px 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 9px 142px 0 746px;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-text-5 {
  margin: 0 0 0 39px;
}

.u-section-2 .u-text-6 {
  margin: 44px 570px 0 39px;
}

.u-section-2 .u-shape-2 {
  width: 327px;
  height: 200px;
  background-image: none;
  margin: -221px 89px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 327px;
  height: 195px;
  margin: -179px 105px 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 13px 0 29px 39px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    margin-right: 426px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 42px;
    margin-left: 646px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 409px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    margin-right: 206px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 468px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 189px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    margin-right: 26px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 288px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1056px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-top: -147px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 191px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 88px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-right: 13px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 52px;
    margin-right: 13px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1155px;
}

.u-section-3 .u-text-1 {
  margin: 36px 0 0 499px;
}

.u-section-3 .u-shape-1 {
  width: 325px;
  height: 216px;
  background-image: none;
  margin: -647px 677px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 327px;
  height: 218px;
  margin: -234px auto 0 151px;
}

.u-section-3 .u-shape-2 {
  width: 258px;
  height: 258px;
  background-image: none;
  margin: 44px auto 0 15px;
}

.u-section-3 .u-shape-3 {
  width: 228px;
  height: 189px;
  background-image: none;
  margin: -76px 677px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 255px;
  height: 262px;
  margin: -393px auto 0 0;
}

.u-section-3 .u-image-3 {
  width: 227px;
  height: 189px;
  margin: -74px auto 0 255px;
}

.u-section-3 .u-text-2 {
  margin: 16px 658px 0 232px;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-text-3 {
  margin: 29px 525px 0 14px;
}

.u-section-3 .u-shape-4 {
  width: 240px;
  height: 179px;
  background-image: none;
  margin: -439px 0 0 auto;
}

.u-section-3 .u-image-4 {
  width: 275px;
  height: 198px;
  margin: -166px 14px 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 6px 0 0 825px;
}

.u-section-3 .u-shape-5 {
  width: 263px;
  height: 179px;
  background-image: none;
  margin: 23px 253px 0 auto;
}

.u-section-3 .u-image-5 {
  width: 274px;
  height: 190px;
  margin: -201px 229px 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 11px 212px 5px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 299px;
  }

  .u-section-3 .u-shape-1 {
    margin-right: 615px;
  }

  .u-section-3 .u-shape-2 {
    height: 263px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 558px;
    margin-left: 132px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 339px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-4 {
    width: 313px;
    height: 234px;
    margin-top: -351px;
  }

  .u-section-3 .u-image-4 {
    width: 313px;
    height: 234px;
    margin-top: -293px;
    margin-right: 15px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 0;
    margin-left: 676px;
  }

  .u-section-3 .u-shape-5 {
    margin-top: -179px;
    margin-right: auto;
    margin-left: 332px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 175px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 79px;
  }

  .u-section-3 .u-shape-1 {
    margin-right: 395px;
  }

  .u-section-3 .u-shape-3 {
    margin-right: 492px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 448px;
    margin-left: 22px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 119px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 456px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 134px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-shape-1 {
    margin-right: 215px;
  }

  .u-section-3 .u-shape-3 {
    margin-right: 312px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 290px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 276px;
  }

  .u-section-3 .u-shape-5 {
    margin-left: 277px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 101px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-shape-1 {
    margin-right: 15px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 13px;
  }

  .u-section-3 .u-shape-3 {
    margin-right: 112px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 113px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 90px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 76px;
  }

  .u-section-3 .u-shape-5 {
    margin-left: 77px;
  }

  .u-section-3 .u-image-5 {
    margin-right: 66px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 64px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1347px;
}

.u-section-4 .u-text-1 {
  margin: 21px 774px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 554px 0 0;
}

.u-section-4 .u-shape-1 {
  width: 459px;
  height: 301px;
  background-image: none;
  margin: -384px 0 0 auto;
}

.u-section-4 .u-image-1 {
  width: 484px;
  height: 317px;
  margin: -273px 31px 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 70px 0 0 554px;
}

.u-section-4 .u-shape-2 {
  width: 430px;
  height: 268px;
  background-image: none;
  margin: -300px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 430px;
  height: 268px;
  margin: -293px 678px 0 auto;
}

.u-section-4 .u-text-4 {
  margin: 25px 794px 0 113px;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-text-5 {
  margin: 0;
}

.u-section-4 .u-text-6 {
  margin: 22px 923px 0 20px;
}

.u-section-4 .u-text-7 {
  margin: 32px 586px 0 20px;
}

.u-section-4 .u-shape-3 {
  width: 436px;
  height: 228px;
  background-image: none;
  margin: -251px 47px 0 auto;
}

.u-section-4 .u-image-3 {
  width: 436px;
  height: 228px;
  margin: -205px 70px 0 auto;
}

.u-section-4 .u-text-8 {
  margin: 20px 70px 0 20px;
}

.u-section-4 .u-text-9 {
  margin: 22px 70px 13px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 574px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 354px;
  }

  .u-section-4 .u-shape-1 {
    width: 570px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -240px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 7px;
    margin-left: 354px;
  }

  .u-section-4 .u-shape-2 {
    margin-left: 370px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 510px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 694px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 743px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 406px;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 354px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 134px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 134px;
  }

  .u-section-4 .u-shape-2 {
    margin-left: 150px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 290px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 487px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 523px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 186px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 174px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-shape-1 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-shape-2 {
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    margin-right: 110px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 307px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 343px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1147px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 222px;
    margin-right: 0;
  }

  .u-section-4 .u-shape-2 {
    width: 340px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 212px;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 107px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 143px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-shape-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 178px;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1042px;
}

.u-section-5 .u-text-1 {
  margin: 20px 928px 0 20px;
}

.u-section-5 .u-text-2 {
  margin: 20px 629px 0 20px;
}

.u-section-5 .u-shape-1 {
  width: 384px;
  height: 219px;
  background-image: none;
  margin: -235px 90px 0 auto;
}

.u-section-5 .u-image-1 {
  width: 396px;
  height: 223px;
  margin: -207px 108px 0 auto;
}

.u-section-5 .u-text-3 {
  margin: 8px 174px 0 686px;
}

.u-section-5 .u-btn-1 {
  padding: 0;
}

.u-section-5 .u-text-4 {
  margin: 18px 37px 0 613px;
}

.u-section-5 .u-shape-2 {
  width: 374px;
  height: 204px;
  background-image: none;
  margin: -153px auto 0 46px;
}

.u-section-5 .u-image-2 {
  width: 372px;
  height: 203px;
  margin: -222px auto 0 66px;
}

.u-section-5 .u-text-5 {
  margin: 28px 766px 0 92px;
}

.u-section-5 .u-btn-2 {
  padding: 0;
}

.u-section-5 .u-text-6 {
  margin: 8px 23px 0;
}

.u-section-5 .u-text-7 {
  margin: 18px 23px 28px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 748px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 449px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 74px;
    margin-left: 586px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 449px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 658px;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 528px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 229px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 440px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 229px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 438px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 348px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 49px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 260px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 49px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 258px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 148px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 191px;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 60px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
  }

  .u-section-5 .u-shape-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 186px;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 58px;
  }
}.u-section-6 {
  background-image: url("images/pexels-lukas-574087.jpg");
}

.u-section-6 .u-sheet-1 {
  min-height: 744px;
}

.u-section-6 .u-text-1 {
  width: 596px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 613px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 470px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1046px;
}

.u-section-7 .u-text-1 {
  margin: 29px 60px 0;
}

.u-section-7 .u-btn-1 {
  padding: 0;
}

.u-section-7 .u-text-2 {
  width: 211px;
  margin: 20px auto 0;
}

.u-section-7 .u-slider-1 {
  width: 758px;
  min-height: 450px;
  margin: 9px auto 0;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-video-2 {
  height: 360px;
  width: 640px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-7 .u-video-3 {
  height: 360px;
  width: 640px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-7 .u-video-4 {
  height: 360px;
  width: 640px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-7 .u-video-5 {
  height: 360px;
  width: 640px;
  margin: 0 auto;
}

.u-section-7 .u-carousel-control-1 {
  width: 59px;
  height: 59px;
}

.u-section-7 .u-carousel-control-2 {
  width: 59px;
  height: 59px;
  left: auto;
  position: absolute;
  right: 0;
}

.u-section-7 .u-text-3 {
  margin: 29px 60px 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-slider-1 {
    height: auto;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-slider-1 {
    width: 720px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-top: 359px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 4px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 366px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-video-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-video-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-video-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-video-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-top: 347px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 17px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 248px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}