.u-section-1 {
  background-image: url("images/pexels-fox-1595385.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 528px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  width: 529px;
  margin: 100px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-1 .u-text-1 {
    width: 179px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 333px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 250px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 157px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1039px;
}

.u-section-2 .u-shape-1 {
  width: 406px;
  height: 354px;
  background-image: none;
  margin: 59px auto 0 56px;
}

.u-section-2 .u-image-1 {
  width: 406px;
  height: 354px;
  margin: -378px auto 0 38px;
}

.u-section-2 .u-text-1 {
  margin: -331px 17px 0 501px;
}

.u-section-2 .u-group-1 {
  width: 1028px;
  min-height: 554px;
  margin: 29px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  width: 622px;
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1008px;
  margin: -448px auto 55px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 213px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 93px;
  height: 123px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 213px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 123px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 213px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 124px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 213px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  height: 123px;
  width: 95px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 213px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  height: 124px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 214px;
}

.u-section-2 .u-container-layout-7 {
  padding: 20px 10px 15px;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 214px;
}

.u-section-2 .u-container-layout-8 {
  padding: 15px 10px 20px;
}

.u-section-2 .u-text-4 {
  margin: 5px 5px 0 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 214px;
}

.u-section-2 .u-container-layout-9 {
  padding: 15px 5px;
}

.u-section-2 .u-text-5 {
  margin: 0 10px;
}

.u-section-2 .u-btn-3 {
  padding: 0;
}

.u-section-2 .u-layout-cell-9 {
  min-height: 214px;
}

.u-section-2 .u-container-layout-10 {
  padding: 15px 15px 30px;
}

.u-section-2 .u-text-6 {
  margin: 0;
}

.u-section-2 .u-btn-4 {
  padding: 0;
}

.u-section-2 .u-layout-cell-10 {
  min-height: 214px;
}

.u-section-2 .u-container-layout-11 {
  padding: 15px 15px 30px 10px;
}

.u-section-2 .u-text-7 {
  margin: 0 -4px 0 1px;
}

.u-section-2 .u-btn-5 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1011px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 318px;
  }

  .u-section-2 .u-group-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    min-height: 426px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 199px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 199px;
  }

  .u-section-2 .u-image-3 {
    height: 111px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 199px;
  }

  .u-section-2 .u-image-4 {
    height: 112px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 199px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 199px;
  }

  .u-section-2 .u-image-6 {
    height: 112px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 200px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 200px;
  }

  .u-section-2 .u-text-4 {
    margin: 135px 632px 60px 131px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 200px;
  }

  .u-section-2 .u-text-5 {
    margin: 30px 359px 60px 390px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 200px;
  }

  .u-section-2 .u-text-6 {
    margin: 30px 349px 60px 399px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 200px;
  }

  .u-section-2 .u-text-7 {
    margin: 128px 0 60px 761px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1408px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 98px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 152px;
  }

  .u-section-2 .u-image-2 {
    width: 84px;
    height: 111px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 152px;
  }

  .u-section-2 .u-image-3 {
    height: 73px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 152px;
  }

  .u-section-2 .u-image-4 {
    height: 74px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 152px;
  }

  .u-section-2 .u-image-5 {
    height: 109px;
    width: 84px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 152px;
  }

  .u-section-2 .u-image-6 {
    height: 74px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 522px;
    margin-left: 21px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 249px;
    margin-left: 280px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 239px;
    margin-left: 289px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 541px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3587px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: 520px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    min-height: 5016px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 570px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 570px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 570px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 458px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 570px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 570px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    height: 458px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-right: 363px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 159px;
    margin-left: 190px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 149px;
    margin-left: 199px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 361px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2683px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 296px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -273px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 320px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    min-height: 2696px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 359px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 359px;
  }

  .u-section-2 .u-image-3 {
    height: 278px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 359px;
  }

  .u-section-2 .u-image-4 {
    height: 282px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 359px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 186px;
  }

  .u-section-2 .u-image-6 {
    height: 282px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-right: 163px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 59px;
    margin-left: 90px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 49px;
    margin-left: 99px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 161px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 572px;
}

.u-section-3 .u-slider-1 {
  width: 681px;
  min-height: 462px;
  margin: 18px 0 0 auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 578px;
  height: 329px;
  margin: 0 16px 0 auto;
}

.u-section-3 .u-text-1 {
  width: 363px;
  margin: 16px auto 0;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 578px;
  height: 325px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 23px auto 0;
}

.u-section-3 .u-btn-2 {
  padding: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-3 .u-image-3 {
  width: 575px;
  height: 322px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 9px 0 0;
}

.u-section-3 .u-btn-3 {
  padding: 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 59px;
  height: 59px;
}

.u-section-3 .u-carousel-control-2 {
  width: 59px;
  height: 59px;
  left: auto;
  right: 0;
  position: absolute;
}

.u-section-3 .u-text-4 {
  margin: -487px 690px -7px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    width: 723px;
    min-height: 472px;
    height: auto;
  }

  .u-section-3 .u-image-1 {
    height: 328px;
  }

  .u-section-3 .u-text-1 {
    margin: 30px 0 60px;
  }

  .u-section-3 .u-text-2 {
    margin: 30px 0 60px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 490px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 413px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 520px;
    height: 295px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 520px;
    height: 292px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    width: 520px;
    height: 291px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 300px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 182px;
  }

  .u-section-3 .u-text-1 {
    width: 320px;
  }

  .u-section-3 .u-image-2 {
    width: 320px;
    height: 180px;
  }

  .u-section-3 .u-image-3 {
    width: 320px;
    height: 179px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
}